/* Swiper style */

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.prev-slider,
.next-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 200ms linear;
  z-index: 1000;
}

.prev-slider {
  left: 0;
}

.next-slider {
  right: 0;
}

.slide.h-auto {
  height: auto;
}

.swiper-mobile-translate {
  transform: translateX(calc(50vw - 152px));
}

.slider-width {
  max-width: calc(100vw - 40px);
}

.slider-item-width {
  max-width: calc(100vw - 80px);
}

.priceswiper > div {
  align-items: center;
}
